.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #58a8d7; /* Light grey background color */
  padding: 20px;
  text-align: left; /* Set the text alignment to left */
}

  .form-img{
    width: 500px;
    height: 500px;
  }

  .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px; /* Add some margin at the bottom to create spacing */
    color: #bbdcde;
  }
  
  .form-wrapper {
    background-color: #fff; /* White background color for the form */
    border: 1px solid #ccc; /* Light grey border */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    max-width: 500px; /* Adjust the maximum width as needed */
  }
  
  .form-wrapper input {
    margin-bottom: 40px; /* Adjust the margin as needed */
    /* padding: 10px; Adjust the padding as needed */
    text-align: center;
  }
  
  /* Additional styles for form elements if needed */
  