.shopTitle{
text-align: center;
color: #58a8d7;
margin-right: 50px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; 
    padding: 20px; /* Adjust padding as needed */
    margin-left: 30px;
  }

