/* NavBar.module.css */

/* Existing styles for the navbar */
.nav {
    background-color: white;
    /* color: #333; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #58a8d7;
   border-bottom: 2px solid black;
    /* padding: 10px 20px; */
  }

  .nav li:hover{
    text-decoration: underline;
  }

  .nav a {
    color: #58a8d7;
  }

  .nav img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  
  
  .navUL {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navLI {
    padding: 0;
  }
  
  .a{
    text-decoration: none;
  }
  
  /* .navLI:hover {
    background-color: black;
  } */
  
  /* .navLink:visited {
    color: #333;
  } */
  