/* NavBar.module.css */

/* Existing styles for the navbar */
.nav {
    background-color: #57c4e5;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navUL {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navLI {
    padding: 0;
  }
  
  .navLI.active {
    background-color: #007BFF;
  }
  
  .navLI:hover {
    background-color: #0056b3;
  }
  
  .navLink:visited {
    color: #333;
  }
  
  .navLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-radius: 20px; /* Add rounded corners to links */
    padding: 10px 20px; /* Add padding for better aesthetics */
  }
  
  .navLink:hover {
    color: #fff;
  }
  