.homeImg{
  width: 500px;
  height: 500px;
}

.cardGroup{
    display: flex;
    
}

h1{
   text-align: center;
}
.card{
    text-align: center;
    border: 2px solid black;
    width: 50%;
    justify-content: space-betweens;
    
}

.cardImgTop{
    width: 50%;
}