/* HomePage.css */

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}



.category {
  color: #05176d;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.homeimg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.home-page-img {
  width: 100%;
  max-width: 1000px; /* Adjust the maximum width as needed */
  margin-bottom: 20px;
}

.homePageMission {
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin-bottom: 20px;
}

/* Additional styles for other components can be added as needed */
