.homepage-container{
  background-color:white;
  padding-top: 40px;
  padding-bottom: none;
}
.homeimg-container{
  position: relative;
  overflow: hidden;
  width: 100%; 
  height: 700px; 
}

.home-page-img {
  width: 100%;
  max-height: 600px;
  margin-bottom: 100px;
  border-radius: 0;
}


.home-page-promise-banner{
  width: 100%;
  max-height: 550px ;
  border-radius: 0;
  margin-top: 0;
}

.category{
  text-align: center;
}

ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin-left: 70px;
  }
  

  li {
    margin-right: 10px; 
  }

