/* .diamond-info {
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    grid-gap: 20px; 
    background-color: #58a8d7;
    padding: 20px; 
    justify-content: center; 
    align-items: flex-start; 
  }
  
  .h1 {
    grid-column: span 3; 
    text-align: center;
    color: #05176d;
  }
  
  .card-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%; 
  }
  
  .card {
    border: 1px solid black;
    border-radius: 15px 50px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px; 
    width: 300px;
    height: 150px;
    background-color: #bbdcde;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    margin: 10px;
  }
  
  .card-title {
    font-size: large;
    text-align: center;
    color: #05176d;
  }
  
  .card-text {
    font-size: small;
    color: #05176d;
    text-align: justify;
  }
   */